#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th, td {
  padding: 7px; /* Adjusts the padding inside cells */
  border: 1px solid white; /* Sets the border color and width */
  text-align: center; /* Centralizes the text inside cells */
}
